body {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgba(24, 29, 45, 1);
}

h1 {
  font-family: Roboto, sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 16px;
  padding: 24px;
  background-color: rgba(35, 45, 80, 1);
}

.button-pad {
  display: flex;
}

.display {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid black;
  color: black;
  font-size: 28px;
  font-weight: 500;
  padding-left: 8px;
  margin-bottom: 12px;
  min-height: 1.5em;
}

.numpad,
.operators,
.clear {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.numpad {
  align-items: center;
  margin-right: 16px;
}

.row {
  display: flex;
  gap: 4px;
}

.number,
.operator {
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: 700;
}

.number {
  background-color: rgba(50, 50, 95, 0.9);
  color: rgb(220, 220, 230);
  font-size: 24px;
  font-weight: 700;
}

.operator {
  background-color: rgba(67, 67, 100, 1);
  color: rgb(220, 220, 230);
}

.clear {
  background-color: rgba(67, 67, 100, 1);
  color: rgb(220, 220, 230);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  width: 96px;
  height: 28px;
  margin-bottom: 8px;
}
